html {
    font-size: 100%;
}

body {
    font-family: 'Hind', sans-serif;
    font-size: 62.5%;
    height: auto;
}

main {
    height: auto;
}

.shadow {
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.8);
}

h1 {
    font-weight: 300;
    font-size: 3.6em;
}

h2 {
    font-size: 2.4em;
}

.button {
    font-size: 2em;
    text-decoration: none;
    color: #ffffff;
    background-color: hsla(177, 85%, 45%, 0.9);
    display: inline-block;
    margin: 7.70% auto;
    padding: 2%;
    border-radius: 10px;
    transition: 0.3s;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.button:hover {
    background-color: #77cccc;
    box-shadow: 0px 0px 30px 2px rgba(188, 230, 230, 0.7);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}

nav {
    height: 100%;
    width: 23%;
    position: fixed;
    background: #232323 url(images/debut_dark.png) top left repeat;
    color: white;
    transition: 0.5s;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: space-around;
    align-items: stretch;
}

.display {
    left: 0%;
    width: 60%;
    z-index: 99998;
}

.toggle {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 32px;
    color: #ffffff;
    display: none;
    position: fixed;
    top: 6%;
    left: 3%;
    transition: 0.6s;
    z-index: 99999;
}

.toggle span {
    font-size: 40px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

ul.nav li {
    padding: 3.225% 9.090%;
}

ul.nav li a {
    text-decoration: none;
    margin: 0 auto;
    width: 80%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    font-size: 1.8em;
    line-height: 2em;
    color: #b0b0b0;
    transition: 1s;
}

ul.nav {
    flex-grow: 3;
}

ul.nav li a:hover {
    color: #ffffff;
}

li.active {
    color: #ffffff;
    box-shadow: inset -5px -2px 38px 3px rgba(0, 0, 0, 0.7);
}

ul.nav li.active a {
    color: #ffffff;
}

i.fa {
    font-size: 1.33em;
    padding-top: 3%;
    -webkit-flex-grow: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
}

ul.social {
    font-size: 2em;
}

li a span {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    font-weight: 300;
    text-align: right;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.main {
    width: 77%;
    margin-left: auto;
}

.info {
    margin: 14.1466% 10%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.name {
    font-size: 2.4em;
    font-weight: bold;
    text-align: right;
}

.role {
    text-align: right;
    font-size: 1.6em;
    color: #b0b0b0;
}

.profile {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 80%;
    margin-top: 5%;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
}

.logo {
    font-size: 4.2em;
    font-weight: 300;
    border: 2px solid #ffffff;
    min-width: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
}

.logo span {
    display: inline-block;
    padding-top: 8px;
    padding-left: 14px;
}

ul.social li {
    display: inline;
    margin: 5%;
}

ul.social li a {
    color: #808080;
    transition: 1s;
}

ul.social li a:hover {
    color: #ffffff;
}

ul.social {
    margin: 0 auto;
    width: 80%;
}

.background-image {
    position: absolute;
    left: 0;
    right: 0;
    top: -1%;
    z-index: -1;
    background-image: url(images/bg.jpg);
    overflow: hidden;
    background-attachment: fixed;
    background-clip: border-box;
    background-size: cover;
    background-position: top left;
    box-shadow: inset 0 0 48px 0 rgba(0, 0, 0, 0.7), 0 0 48px 10px rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    -webkit-filter: blur(4px);
    filter: blur(4px);
}

.intro {
    height: 40%;
    z-index: 9999;
    color: #ffffff;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.about,
.contact {
    height: 100%;
}

.portfolio {
    background-color: #f9f9f9;
    border-bottom: 1px solid #d0d0d0;
}

.about {
    background-color: #f0f0f0;
    border-bottom: 1px solid #d0d0d0;
}

.contact {
    background: #ffffff url(images/white_texture.png) top left repeat;
}

.footer {
    height: 150px;
    border-top: 1px solid #a0a0a0;
    background: #ffffff url(images/whitey.png) top left repeat;
}

.portfolio div {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.portfolio {
    height: auto;
}

.portfolio h1,
.about h1,
.contact h1 {
    text-align: center;
    padding: 8% 0 5% 0;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.project {
    width: 100%;
    height: 100%;
}

figure {
    display: inline-block;
    -ms-flex-preferred-size: 30%;
    -webkit-flex-basis: 30%;
    flex-basis: 30%;
    background-color: #ffffff;
    margin: 4% 0;
    transition: 0.4s;
}

figure:hover {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}

figcaption {
    border: 1px solid #a7a7a7;
    border-top: none;
    padding: 10% 5%;
    font-size: 1.5em;
    position: relative;
    top: -2px;
}


/****************************** SVG ***************************************/

.move-right {
    left: 23%;
    color: #333;
    background-color: transparent;
}


/****************************** Media Queries *****************************/

@media screen and (min-width: 1201px) {
    .display {
        width: 23%;
    }
}

@media screen and (max-width: 1200px) {
    .display {
        width: 23%;
    }
    .info {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        flex-grow: 1;
    }
    .logo {
        margin: 5% auto;
    }
    li a span {
        -webkit-flex-grow: 2;
        -ms-flex-positive: 2;
        flex-grow: 2;
        padding-right: 10%;
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1;
    }
    i.fa {
        padding-top: 0%;
        -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2;
    }
    ul.nav li a {
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
    figure {
        -ms-flex-preferred-size: 45%;
        -webkit-flex-basis: 45%;
        flex-basis: 45%;
    }
}

@media screen and (max-width: 960px) {
	html {
        font-size: 14px;
    }
    nav {
        left: -30%;
    }
    .display {
        width: 23%;
    }
    .main {
        width: 100%;
    }
    .background-image {
        left: 0%;
        width: 99.5%;
    }
    .button {
        padding: 4%;
    }
    figure {
        -ms-flex-preferred-size: 80%;
        -webkit-flex-basis: 80%;
        flex-basis: 80%;
    }
    h2.shadow {
        text-align: center;
        padding: 8% 0 5% 0;
    }
    .toggle {
        display: block;
        width: 50px;
        height: 40px;
        text-align: center;
    }
}

@media screen and (max-width: 620px) , screen and (max-height: 500px){
	.info {
		margin : 1% 10%;
	}
    .display {
        width: 50%;
    }
    .name {
    	font-size: 2em;
    	text-align: center;
    }
	.logo {
		width: 35px;
		min-width: 35px;
		height: 35px;
		font-size: 2.4em;
	}
    .role {
    	font-size: 1.2em;
    	color: #ffffff;
    	text-align: center;
    }
	ul.social li {
		margin : 2%;
	}
    .move-right {
        left: 50%;
    }
}
