body {
	font-family: 'Hind', sans-serif;
}

h1 {
	font-weight: 300;
	font-size: 36px;
}

h2 {

	font-size: 24px;
}

nav {
    height: 700px;
    width: 23%;
    position: fixed;
    background: #232323 url(images/debut_dark.png) top left repeat;
    color: white;
    box-shadow: inset -5px -2px 38px 3px rgba(0, 0, 0, 0.7);
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    padding: 10px 5px;
}

section {
    height: 500px;

}

ul.nav li a {
    text-decoration: none;
    margin: 0 auto;
    width: 80%;
    display: block;
    height: 35px;
    font-size: 18px;
    line-height: 2;
    color: #b0b0b0;
    transition: 1s;
}

ul.nav li a:hover {
    color: #ffffff;
}


li.active{
	color: #ffffff;
    box-shadow: inset -5px -2px 38px 3px rgba(0, 0, 0, 0.7);
}

ul.nav li.active a {
	color: #ffffff;
}

i.fa {
	font-size: 24px;
	vertical-align: middle;
}


li a span {
	float: right;
	font-weight: 300;

}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.main {
    width: 77%;
    margin-left: auto;
}

.info {
	margin: 40px 20px;
}

.logo {
	font-size: 42px;
	float: left;
	font-weight: 300;
	border: 2px solid #ffffff;
	width: 50px;
	height: 50px;
	border-radius: 50%;

}

.logo span {
	display: inline-block;
	padding-top: 8px;
	padding-left: 14px;
}
ul.social li{
	display: inline;
	margin: 10px;
}
ul.social li a{
	color: #808080;
	transition: 1s;
}

ul.social li a:hover{
	color: #ffffff;
}

ul.social {
	margin: 250px auto;
	width: 250px;
}
.name {
	font-size: 24px;
	font-weight: bold;
	float: right;
}
.role {
	float: right;
	font-size: 16px;
	color: #b0b0b0;
}
.profile {
	float: right;
	width: 200px;
	margin-top: 10px;
}

.background-image {
  position: absolute;
  left: 22%;
  right: 0;
  top: -2px;
  z-index: -1;
  border: 1px solid black;
  background-image: url(images/bg.jpg);
  background-size: cover;
  background-position: top left;
  width: 77%%;
  height: 600px;
  -webkit-filter: blur(4px);

}

.intro {
  z-index: 9999;
  color: #ffffff;

}
.portfolio {
	background-color: #f9f9f9;
	border-bottom: 1px solid #d0d0d0;
}

.about {
	background-color: #f0f0f0;
	border-bottom: 1px solid #d0d0d0;
}

.contact {
	background: #ffffff url(images/white_texture.png) top left repeat;
}
.footer {
	height: 200px;
	border-top: 1px solid #a0a0a0;
	background: #ffffff url(images/whitey.png) top left repeat;
}